body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: linear-gradient(275deg, rgba(3,105,161,1) 0%, rgba(0,153,255,1) 45%, rgba(0,212,255,1) 91%);
    overflow-y: scroll;
    min-height: 100vh;
    height: max-content;
}

::-webkit-scrollbar {
    width: 0px; /* Adjust width as needed */
  }